@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
html {
  scroll-behavior: smooth;
}
.App{
  height: 100%;
  width: 100%;
}

.scroll-button {
  border: none; /* Removes the default border */
  box-shadow: none; /* Removes the box-shadow */
  position: fixed;
  bottom: 50px; /* Distance from the bottom */
  right: 50px; /* Distance from the right */
  background-color: #f1ca4c;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.scroll-button.hidden {
  transform: translateY(100px); /* Moves the button off-screen */
  opacity: 0;
}



/* Footer */
.footer {
  font-family: 'Karla', sans-serif;
  font-weight: 800;
  background-color: #495E57;
  width: 100%; /* Ensure it takes full width */
  padding: 0 15px; /* Padding inside the container */
}
.footer ul{
	list-style: none;
}
.row{
  display: flex;
  justify-content: center;
	padding-bottom: 20px;
  padding-top: 20px;
	width: 100%;
}
.footer-col{
	width: 25%;
	padding: 0 15px;
}
.footer-col {
  width: 25%; /* Default width for all columns */
}
.footer-col:last-child {
  width: 15%; /* Reduce width for the "Follow Us" column */
}
.footer-col h4 {
  font-weight: 800;
  font-size: 18px;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  color: #f4e928; /* Text color */
  transition: background-color 0.3s, color 0.3s;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: black; /* Underline color */
  height: 2px;
  width: 50px; /* Width of the underline */
}
.footer-col ul {
    padding: 0; /* Remove default padding */
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
  color:white;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #fff130;
padding: 4px;
}
.footer-col .social-links {
	list-style:none;
}
.footer-col .social-links ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Aligns icons in the center */
  list-style: none;
}
.footer-col .social-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: white;
  font-size: 18px;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color:#f6f62a;
	background-color: #000000;
}

/* Booking Form */
form {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px 50px;
  background-color: #FECCCC;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 810px;
}
label {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 6px;
  display: block;
}
input, select:required {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
}
.input-name{
  width:98%;
}

input:required:valid, select:valid {
  border: 2px solid green; /* Green for valid input */
}
input.invalid, select.invalid {
  border: 2px solid red; /* Red for invalid input */
}
.error{
  padding: 0 5px;
  color: red;
  font-size: 12px;
}
.form h2{
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
  font-weight: 900;
  color: #2e6757;
  text-align: center;
  padding: 0;
  margin: 10px 10px;
}
.form-button {
  padding: 12px 20px;
  background-color:#F4CE14;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
  font-weight: 900;
  display: block;
  margin: 15px auto;
  transition: background-color 0.3s, color 0.3s;
}
button:disabled {
  background-color: #ccc; /* Grey */
  color: #888; /* Lighter text */
  cursor: not-allowed;
}
button:disabled:hover {
  background-color: #ccc; /* Grey */
  color: #888; /* Lighter text */
  cursor: not-allowed;
}
.phone-email{
  margin: 10px 5px;
  display: flex;
  gap: 25px;
  justify-content: space-around;
}
.phone-email input{
 width: 270px;
}
.phone-form, .email-form{
  padding:0;
}
.booking-details-form{
display: flex;
flex-wrap: wrap;
gap: 40px;
}
.booking-details-form div {
    flex: 1 1 calc(50% - 40px); /* Two columns, accounting for the gap */
}
.form-button:hover {
  background-color:#333;
}
select {
  font-size: 1rem;
}
form label{
  padding-left: 5px;
  font-weight: 500;
}

/* Booking Confirmation */
.b-confirmation{
  background-color: #495E57;
  color: white;
  border-radius: 1rem;
  text-align: center;
  margin: 50px 250px;
  padding: 50px 10px;
}

.confirmation-title{
  font-family:'Markazi Text', serif;
  font-weight: 900;
  font-size: 3.5rem;
}
.confirmation-text h3{
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  width: 520px;
  margin: auto;
}
.confirmation-text h2{
  padding:20px 10px;
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  margin: auto;
}
.booking-confirmation-details{
  background-color: #EDEFEE;
  margin: 20px 70px;
  padding: 20px 10px;
  border-radius: 1rem;
  color: black;
}

.booking-confirmation-details h1{
  font-family:'Markazi Text', serif;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: left;
  margin: 0 50px;
}

.booking-confirmation-details h3{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-align: left;
  color:#626262;
  margin: 15px 0;
}
.booking-confirmation-details p{
  font-family:'Markazi Text', serif;
   font-weight: 600;
  font-size: 1.7rem;
  text-align: left;
  margin: 5px 0;
}

.booking-conf-columns{
  display: flex;
  text-align: left;
  justify-content:left;
  margin: 0px 52px;
  gap: 150px;
}


.noPage{
  font-family: markazi;
  font-weight: 600;
  font-size: 5rem;
  margin: 100px 300px;
}

@media only screen and (max-width: 768px){


  .footer {
    flex-direction: column;
  }
}