.menu-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  margin: 20px 240px 80px 240px;
  max-width: 1200px;
}

.menu-title{
  font-family: 'Markazi Text', serif;
  font-weight: 600;
  font-size: 3.5rem;
  text-align: center;
  color: #495E57;
}

.filter-buttons  {
  display: flex;
  justify-content: space-between;
  margin: 50px 300px;
}
.filter-buttons button {
  font-family: 'Karla', sans-serif;
  font-weight: bolder;
  background-color: #F4CE14;
  color: #000000;
  border-radius: 15px;
  width: 200px;
  height:70px;
  border-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  }

  .filter-buttons button:hover {
    background-color: #333;
    color:#fff;
    }
  
  .menu-item {
    background-color: #EDEFEE;
    border-radius: 15px;
    position: relative;
    width: 265px;
    height:auto;
    overflow: hidden;
    align-items: center;
  }

  .menu-item-price h2{
  font-family: 'Markazi Text', serif;
  font-weight: 600;
  font-size: 1.5rem;
  }
  .menu-item h2:last-child {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #e52525;
    }

  .menu-item-image{
    width: 100%; /* Full width of the card */
    border-radius: 15px 15px 0 0; /* Rounded corners on top */
    height: 185px;
    margin: 0;
    padding: 0;
    object-fit: cover; /* Crops the image to fill the container */
    object-position: center; /* Adjust the focus point (center by default) */
  }

.menu-item-description {
    display: none;
    position: absolute;
  }

  .menu-item:hover .menu-item-description {
    display:block;
    position: absolute;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    top: 62%;
    left: 0;
    background-color: #FECCCC;
    color: #495E57;
    height:max-content;
    padding: 10px;
    z-index: 10;
    transition: all 0.9s;
  }

  .menu-item-price{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 0 25px;
  }

  @media (min-width: 1441px){
    .filter-buttons{
    justify-content: center;
     gap: 3%;
    }
    .menu-list {
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      margin: 20px 10% 80px 13%;
    }
    .menu-item{
      width: 350px;
    }
    }
    
  @media (max-width: 1440px){
  .filter-buttons{
    gap: 15px;
  }
  }


  @media(max-width:1024px){
    .menu-list{
      margin: 0  50px 40px 50px;
    } 

    .filter-buttons{
      align-items: center;
      gap: 15px;
    }
    .filter-buttons button{
      width: 150px;
      height:50px;
    }
    .menu-item{
      margin-right: 27px;
    }
  }

  @media(max-width:900px){
    .menu-list{
      grid-template-columns: repeat(2, 1fr);
      margin: 0 110px 30px 110px;
    }
    
    .menu-item-image{
      height: 100px;
    }

  .filter-buttons{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 30px auto;
    gap:15px;
  }

  }

  @media (max-width: 768px) {
    .filter-buttons {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .filter-buttons{
      flex-direction: column;
      align-items: center;
      margin: 50px auto;
      gap:10px
    }


    .filter-buttons button {
      width: 50%;
    }

    .menu-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 auto 30px auto;
      margin-left: 5%;
    }


    
  }

  @media(max-width:600px){
    .filter-buttons{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 15px 12px;
      gap: 10px;
    }

    .filter-buttons button{
      margin: 0;
      width:190px;
      
    }
    .menu-list{
      grid-template-columns: repeat(2, 1fr);
      margin-left: 10px;
      margin-bottom: 20px;
      gap: 10px;
    }

    .menu-item{
      width: 180px;
      margin-right: 10px;
    }
    .menu-title{
      font-size: 2.5rem;
    }
    .menu-item-price h2{
      font-size: 1.2rem;
    }

    .menu-item-price h2:last-child{
      font-size: 0.9rem;
    }
  }

  @media(max-width:430px){
    .filter-buttons{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:0 auto 20px auto;
    }
    .filter-buttons button{
      width: 80%;
      font-size: 1rem;
    }
    .menu-item{
      width: 45%;
    }

    .menu-list{
      grid-template-columns: repeat(2, 1fr);
      margin: 0 -5px 20px 5px;
      gap: 5px;
    }

  }